@import "../common.less";

.iot-table-ref {
  font-size: 12px;
  &.ref-multiple-table {
    .u-table-content {
      .ref-multiple-table-row-selected {
        background: #ebebf2;
      }
      tr:nth-child(2n) {
        background: #f7f9fb;
        &.selected {
          background: #fff7e7;
        }
      }
      tr:hover {
        background: #edeff2;
      }
    }
  }

  .rc-tree-select-selection {
    border-color: @inputBorderColor;
    &.error-input {
      border-color: @red;
    }
  }
  .rc-tree-select-selection__placeholder {
    color: @inputBorderColor;
  }
  .uf {
    color: @inputBorderColor;
  }
  .iot-tree-ref-input.ref-red {
    .u-form-control {
      border-color: @inputBorderColor;
      &::placeholder {
        color: @inputBorderColor;
      }
    }
    .uf {
      color: @inputBorderColor;
    }
  }

  .ref-core-button {
    display: flex;
    justify-content: right;
    flex-direction: row-reverse;
    .u-button-primary {
      margin-right: 8px;
    }
  }
  .ref-core-button-empty {
    position: absolute !important;
    left: 0;
  }
  &.ref-core.u-modal {
    .u-modal-dialog {
      .u-modal-content {
        background: #f7f9fb;
      }
      .u-modal-body {
        background: #fff;
        text-align: right;
      }
    }
  }
}
