@import "../common.less";
.iot-search {
  i.uf {
    border-left: 1px solid @inputBorderColor;
    color: @inputBorderColor;
  }
  .u-form-control {
    border-color: @inputBorderColor;
    &:focus {
      border-color: @inputfocusColor;
    }
  }
}
