@import "../common.less";

.iot-ac-grid {
  .uf-grid:before{
    content: "\e73c";
  }
  .u-table-filter-column-filter-icon {
    line-height: 30px;
    height: 30px;
    background: transparent;
  }
  .u-table .u-table-tbody tr:nth-child(2n) {
    background: #f6f7f8;
  }
  .ac-grids .u-table .u-table-tbody tr:hover,
  .ac-grids .u-table .u-table-tbody tr.u-table-row-hover {
    background: #edf1f7;
  }
}
