.iot-ac-search {
  &.u-search .u-panel .u-panel-body {
    padding-bottom: 6px;
  }
  .u-search-resident:empty {
    padding: 0;
    margin: 0;
  }
  background: #f6f6f6 !important;
  .u-search-header-title {
    font-size: 13px;
    font-weight: bold;
    color: #111;
  }
  .u-search-header {
    padding-right: 20px;
  }
  .u-search-header-oper .header-oper-btn {
    width: auto;
  }
  .header-oper-btn {
    color: #a0acbe;
    .uf {
      &::before {
        background: #a0acbe;
        color: #fff;
      }
    }
  }
  .u-search-header-oper .header-oper-btn:hover {
    .uf::before {
      background: #1276de;
    }
    color: #1276de;
    background: transparent;
  }
}
