@import "../common.less";
html,
body,
#app,
.route-content {
  height: 100%;
}
.main-layout {
  height: 100%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  .content {
    flex: 1;
    overflow: hidden;
    .full {
      height: 100%;
      overflow: auto;
      // > div:only-child {
      //   overflow: hidden;
      //   height: 100%;
      // }
    }
  }
  .header,
  .footer {
    padding: 0 16px;
  }
  .footer {
    > div:last-child {
      padding-bottom: 8px;
    }

    // > div > div {
    //   float: right;
    // }
  }
}
