body {
  background-color: #f5f5f5;
}
.content {
  text-align: center;
  .tip {
    font-size: 20px;
    color: #14af4c;
    font-weight: bold;
    margin-top: 50px;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 150px auto 0;
    animation: 2s steps(12) 0s 1 normal none running typing;
    width: 920px;
    white-space: nowrap;
    overflow: hidden;
  }
  .text {
    font-size: 30px;
    line-height: 2;
    color: #333;
  }
}
@keyframes typing {
  0% {
    width: 1px;
  }
}
