@import "../common.less";
.iot-grid {
  // display: flex;
  // flex-direction: column;
  position: relative;
  height: 100%;
  &.opration-grid {
    th:last-child {
      text-align: center;
    }
  }
  .opration {
    text-align: center;
    > * {
      display: flex;
      justify-content: space-around;
      button {
        background: none;
        border: none;
        color: #2684ff;
      }
    }
  }
  .u-table-filter-column-cont {
    // flex: 1;
    // overflow: hidden;
    tr:nth-child(2n) {
      background: #f7f9fb;
      &.selected {
        background: #fff7e7;
      }
    }
    tr.u-table-row-hover,
    tr:hover {
      background: #ebecf0;
    }
    .u-table th {
      padding-top: 0;
      padding-bottom: 0;
    }
    .u-table-filter-column-filter-icon {
      height: 33px;
      line-height: 33px;
    }
  }

  .u-pagination {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 5;
    margin-bottom: 0;
    padding-bottom: 8px;
    background: #fff;
    .u-pagination-list > .active > a {
      background: #fff;
      border: 1px solid @red;
      color: @red;
    }
  }
}
